<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Razahy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="page-header">
    <h1>Razahy</h1>
</header>
<nav class="page-nav px-2">
    <ul class="nav-list">
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
        <li>Category 4</li>
        <li>Category 5</li>
    </ul>
</nav>
<section class="page-intro px-2 py-1">
    <h2>Logo</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc vitae massa.</p>
</section>
<section class="page-carousel px-2 py-1">
    <h2>Carousel of products</h2>
    <ul class="carousel-list">
        <li th:each="product : ${products}">
            <div th:text="'Name: ' + ${product.getName()}"></div>
            <div th:text="'Description: ' + ${product.getDescription()}"></div>
            <div th:text="'Price: ' + ${product.getPrice()} + ' Kč'"></div>
        </li>
    </ul>
</section>
<section class="page-about-us px-2 py-1">
    <h2>About us</h2>
    <p>Maecenas libero. In rutrum. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
        minus id quod.</p>
</section>
<footer class="page-footer px-2 py-1">
    <div>
        <h3>Logo</h3>
        <span>© 2023 BariekR</span>
    </div>
    <div>
        <ul>
            <li>Contacts</li>
            <li>Catalogs</li>
            <li>Events</li>
        </ul>
    </div>
</footer>
</body>
</html>