<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Razahy</title>
</head>
<body>
<header>
    <h1>Razahy eshop</h1>
</header>
<nav>
    <ul>
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
        <li>Category 4</li>
        <li>Category 5</li>
    </ul>
</nav>
<section>
    <h2>Logo</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc vitae massa.</p>
</section>
<section>
    <h2>Carousel of products</h2>
    <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
    </ul>
</section>
<section>
    <h2>About us</h2>
    <p>Maecenas libero. In rutrum. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
        minus id quod.</p>
</section>
<footer>
    <div>
        <h3>Logo</h3>
        <span>© 2023 BariekR</span>
    </div>
    <div>
        <ul>
            <li>Contacts</li>
            <li>Catalogs</li>
            <li>Events</li>
        </ul>
    </div>
</footer>
</body>
</html>