<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Razahy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-general body-index">
<header class="page-header">
    <h1><a th:href="@{/}" class="anchor-header">Razahy</a></h1>
</header>
<nav class="page-nav px-2">
    <ul class="nav-list">
        <li th:each="category : ${categories}">
            <a th:href="@{/categories/__${category.getId()}__}" th:text="${category.getName()}" class="d-block nav-list-anchor"></a>
        </li>
    </ul>
</nav>
<section class="page-intro px-2 py-1">
    <h2>Logo</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc vitae massa.</p>
</section>
<section class="page-carousel px-2 py-1">
    <h2>Products</h2>
    <ul class="carousel-list">
        <li th:each="product : ${products}">
            <div th:text="'Name: ' + ${product.getName()}"></div>
            <div th:text="'Description: ' + ${product.getDescription()}"></div>
            <div th:text="'Price: ' + ${product.getPrice()} + ' Kč'"></div>
            <div th:text="'Category: ' + ${product.getCategoryName()}"></div>
        </li>
    </ul>
    <ul class="pagination-list">
        <li th:each="page : ${pages}">
            <a th:href="@{/(page=${page})}" th:text="${page}" class="anchor"></a>
        </li>
    </ul>
</section>
<section class="page-about-us px-2 py-1">
    <h2>About us</h2>
    <p>Maecenas libero. In rutrum. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
        minus id quod.</p>
</section>
<footer class="page-footer px-2 py-1">
    <div>
        <h3>Logo</h3>
        <span>© 2023 BariekR</span>
    </div>
    <div>
        <ul>
            <li>Contacts</li>
            <li>Catalogs</li>
            <li>Events</li>
        </ul>
    </div>
</footer>
</body>
</html>