<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Razahy | Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-general body-login">
    <section class="container-login">
        <div class="container-login-header">
            <h1 class="login-header text-center" th:text="${loginHeader}"></h1>
        </div>
        <form th:method="POST" th:action="@{${loginProcessUrl}}" class="form-login">
            <div class="form-field mb-1">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" name="username" id="email" autofocus class="form-input-text">
            </div>
            <div class="form-field mb-1">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-input-text">
            </div>
            <span th:if="${error}" th:text="${error}" class="login-error"></span>
            <button type="submit" class="btn-grad" th:text="${loginButton}"></button>
        </form>
    </section>
    <footer class="login-footer">
        <a th:href="${loginFooterAnchor}" th:text="${loginFooterAnchorText}" class="anchor"></a>
    </footer>
</body>
</html>